{% extends 'base/home.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <div class="header-bar">
        <div>
            <h3>Hello {{request.user|title}}</h3>
            <h5 style="margin: 0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:'s' }} </h5>
        </div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'log_out' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <div id="search-add-wrapper">
        <form  method="GET"  style="margin-top: 20px;display: flex;">
            <input type="text" name="search"   value="{{search}}">
            <input type="submit"  value="Search" class="button">
        </form>
    <a href="{% url 'task-create' %} "id="add-link">&#x2b</a>
    </div>


<div class="task-item-wrapper">
{% for task in tasks %}
    <div class="task-wrapper">
    {% if task.complete %}
        <div class="task-title">
            <div class="task-complete-icon">

            </div>
            <i><s><a href="{% url 'task-detail' task.id %}">{{ task }}</a></s></i>
        </div>
        <a href="{% url 'task-delete' task.id %} " class="delete-link">&#215</a>
    {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon">

            </div>
            <a href="{% url 'task-update' task.id %}">{{ task }}</a>
        </div>
        <a href="{% url 'task-delete' task.id %}" class="delete-link">&#215</a>
    {% endif %}

    </div>

{% endfor %}
</div>




{% endblock %}